

div{background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
   margin:1cm;

    
    
}
h1{ font-family: Georgia, 'Times New Roman', Times, serif;  text-align: center; font-size:"3cm";font-weight: bold;}
a{color:blue; text-decoration: underline; }