

body{
    background-size: cover;
    background-image: url('space.jpg');animation: first 2s;
    animation-iteration-count: 1;
    width: 100%;
    

    }
    

       div.main{background:rgba(97, 5, 28, 0.822);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 35vw;
    height: 40vw;
    margin-left: 33vw;
    margin-right: 33vw;
    border-radius: 5vw;
    border-color: azure;
    box-shadow: 5vw 5vw 5vw 5vw black;
    border-style: solid;
    border-width: 0.5vw;
    animation: second 1.2s;
    animation-iteration-count: 1;
    
}

div.signup{background:rgba(97, 5, 28, 0.822);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 35vw;
    height: 63vw;
    margin-left: 33vw;
    margin-right: 33vw;
    border-radius: 5vw;
    border-color: azure;
    box-shadow: 12px 8px 10px 10px black;
    border-style: solid;
    border-width: 0.5vw;
    animation: second 1.2s;
    animation-iteration-count: 1;
   

}


@keyframes first
{  0%{background-image: url(asteroid.jpg) ;opacity: 0;}
   40%{background-image:  url(asteroid.jpg) ;opacity:0.4 ;}
   60%{background-image: url(space.jpg);opacity: 0.6;}
   100%{background-image:  url(space.jpg)  ; opacity:1;}

}

@keyframes second
{    0%{background:rgba(13, 102, 18, 0.685) ;opacity: 0;}
     40%{background:rgba(13, 102, 18, 0.685) ;opacity:0.4 ;}
     60%{background: rgba(97, 5, 28, 0.822);opacity:0.6;}
   100%{background:rgba(97, 5, 28, 0.822) ; opacity:1;}

}

h1{ font-family: 'Pushster', cursive;  text-align: center; font-size:"3vw";font-weight: bold;
text-shadow:0.2vw 0.2vw red ;}
h2{font-family: 'Pushster', cursive; font-size: "1.5vw";}
a{color:rgb(187, 31, 38); text-decoration: underline;font-family: 'Pushster', cursive; }
a:hover{color:rgb(24, 156, 19);
text-decoration: underline;
text-shadow: 2vw;}

div
{ background:rgba(65, 4, 19, 0.623);
    margin-left: 5vw;
    margin-right: 4vw;
    border-radius:0.5vw;

}

p
{
text-align: left;
margin-left: 5vw;
color: white;
font-family: 'Rock 3D', cursive;
font-size: small;
}

button
{  background-color:black;
    border-radius: 0.1vw;
    border-width: 0.2vw;
    color:snow;
    font-family:'Times New Roman', Times, serif;


}
button:hover{border-color: seashell;
    background-color:rgb(105, 41, 11);
    box-shadow: 0.3vw 0.3vw 0.1vw 0.1vw black;

}



